html,body,h1,h2,ul,p{
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
}

body{
    background-color: white;
    color: gray;
    min-width: 1128px;
    font-family: "Microsoft YaHei";
    font-size: 12px;
}
/***************header****************************/
.header{
    height: 61px;
    padding: 0 61px;
    position: relative;
}

.header h2{
    color: black;
    line-height: 61px;
    font-size: 24px;
    background: url(书.png) no-repeat left center;
    padding-left:40px; 
    font-family: "SimSun";
    font-weight: bold;
}
.header ul{
    position: absolute;
    top: 0;
    left: 40%;
    bottom: 0;
    margin: auto 0;
}

.header li{
    float: left;
    margin: 0 20px;
    list-style-type: none;

}

.firstpage .header li a{
    color: gray;
    text-decoration: none;
    line-height: 61px;
    display: block;
    height: 58px;
    width: 70px;
    text-align: center;
}
.firstpage  #firstpage{
    display: block;
    height: 58px;
    border-bottom: 3px solid #d45d5c;
    width: 60px;
}
.header p{
    position: absolute;
    right: 61px;
    top: 0;
    width: 52px;
    text-align: right;
    line-height: 61px;
    background: url(登录.png) no-repeat left center;
    color: #d45d5c;
}

/****************************main******************/
/*************************experience**************/

#experience{
    width: 100%;
    height:680px;
    background: url(图一.png) no-repeat;
    background-size: 100% 100%; 
    color: white;
    position: relative;

}
#experience div{
    background-image: url(图一遮罩.png);
    width: 100%;
    height: 100%;

}
#experience div div{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 10%;
    height: 38%;
    font-size: 30px;
    background-image: none;
}

#experience div h1{
    font-weight: normal;
}

#experience div p{
    width: 300px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3px;
}

#experience div a{
    display: block;
    text-decoration: none;
    color: white;
    width: 320px;
    height: 60px;
    background-color: #d45d5c;
    text-align: center;
    line-height: 60px;
    margin-top: 60px;
}
/**********************introduction****************/

#introduction{
    width: 100%;
    height:240px;
    position: relative;
    overflow: hidden;
}

#introduction div{
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    text-align: center;
    background:url(圆.png) no-repeat top center;
    margin-top: 50px;
    height: 190px; 
}
#introduction div+div{
    left: 25%;
    background:url(旗.png) no-repeat top center;
}
#introduction div+div+div{
    left: 50%;
    background:url(花.png) no-repeat top center;
}
#introduction div+div+div+div{
    left: 75%;
    background:url(方.png) no-repeat top center;
}
#introduction div p{
    text-align: center;
    margin-top: 90px;
    font-size: 14px;
    border-right: 2px solid gray; 
    width: 50%;
    padding: 0 25%;
    font-family: "SimHei";
    height: 48px;
}
/*****************more_things***************************/
#more_things{
    width: 100%;
    height: 260px;
    padding-top: 80px;
    background-color: #f6f5ec;
}

#more_things p{
    background:#f6f5ec url(大书.png) no-repeat top center;
    line-height: 210px;
    text-align: center;
    font-size: 52px;
    padding-top:50px; 
    color: #a1a3a6;
}

/****************search_city*****************/

#search_city{
    height: 340px;
    width: 100%;
    text-align: center;
    color: white;
    background: url(看地图.png) no-repeat ;
    background-size: 100% 100%;
}

.zhezhao{
    background: url(图二遮罩.png) ;
    height:280px;
    padding-top: 60px;
}

#search_city h2{
    font-weight: lighter;
    font-size: 24px;
    background:url(下划.png) no-repeat bottom center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#search_city p{
    color:#f6f5ec ;
    margin-bottom: 40px;
}

#search_city select,
#search_city input{
    width: 17%;
    height: 35px;
    margin: 0 15px;
    border: #d45d5c 2px solid;
    -ms-appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    box-sizing: border-box;
    background: url(q.png) no-repeat 97% center white;
}

#search_city input{
    background-color: #d45d5c;
    background-image: none;
    color: white;
    font-size: 14px;
    letter-spacing: 15px;
    text-align: center;
}

/*******************compain_display*****************/
#compain_display{
    height: 540px;
    width: 100%;
    position: relative;
    background-color: #f6f5ec;
}
#compain_display div{
    position: absolute;
    top: 80px;
    left: 12%;
    text-align: center;
}
#compain_display div+div{
    position: absolute;
    top: 80px;
    left: 32%;
}

#compain_display div+div+div{
    position: absolute;
    top: 80px;
    left: 52%;
}

#compain_display div+div+div+div{
    position: absolute;
    top: 80px;
    left: 72%;
}

#compain_display div h2{
    margin-bottom: 5px;
    color: #464547;
    font-weight: normal;
}

#compain_display img{
    width: 200px;
    border: solid 1px lightgrey;
    height: 300px;
    padding: 10px;
}
/**********************01*****************************/
#c01{
    height: 600px;
    width: 100%;
    position: relative;
}

#c01 div{
    width: 66%;
    background: url(图七.png)  no-repeat;
    background-size: 100% 100%;
    height: 600px;
    text-align: center;
    position: relative;
}

#c01 div div{
    position:absolute;
    margin: auto 0;
    top:0;
    bottom: 0;
    left: 0;
    width: 100% ;
    height: 280px;
    background-image: none;
    color: white;
}

#c01 div div h2{
    font-size: 50px;
    font-weight: normal;
}
#c01 div div h1{
    font-size: 150px;
    font-weight: normal;
    height: 160px;
    margin-top: -40px;
}

#c01 div div h3{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

#c01 div div p{
    font-size: 24px;
}
#c01 div+div{
    background-image: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 34%;
    height: 600px;
}

#c01 div ul{
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#c01 div ul li{
    height: 600px;
    overflow: hidden;
    background: url(厉害啦.png) no-repeat center;
}

#c01 div ul li .qiehuan{
    display: none;
}

#c01 .qiehuan{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
    overflow: hidden;
    height: 250px;

}

#c01 div ul li .qiehuan h2{
    font-size: 24px;
    color: black;
}

.qiehuan h2 span{
    color:#d45d5c;
}
#c01 div ul li .qiehuan p{
    font-size: 12px;
    color: #a1a3a6;
    line-height: 30px;
    margin: 20px auto;
    width: 70%;
    text-align: left;
}

#c01 div ul li .qiehuan a{
    text-decoration: none;
}
#c01 div ul li .qiehuan a{
    display: block;
    width: 23%;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #d45d5c;
    color: #d45d5c;
    line-height: 30px;
    text-align: center;
    margin-top: 45px;
}

#c01 div ul li .dian{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 450px;
    left: 38%;
    width: 8%;
    background: url(白点.png) no-repeat center;
    display: inline;
}

#c01 div ul li+li .dian{
    left: 46%;
}

#c01 div ul li+li+li .dian{
    left: 54%;
}

#c01 div ul li .dian:hover{
    background: url(黑点.png) no-repeat center;
}

#c01 div ul li .dian:hover+div.qiehuan{
    display: block;
    background: white;
}

/***************view_more**************************/

#view_more{
    width: 100%;
    height: 500px;
    font-size: 20px;
}

#view_more div{
    width: 33%;
    text-align: center;
    float: left;
    background-color: #d45d5c;
    color: white;
    height: 168px;
    padding: 166px 0;
}

#view_more div+div{
    background-color: white;
    color: black;
}

#view_more div h2{
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

#view_more div a{
    display: block;
    width: 40%;
    height: 42px;
    margin: 0 auto;
    border: 1px solid white;
    color: white;
    line-height: 42px;
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
}

#view_more div+div a{
    border: 1px solid #d45d5c;
    color: #d45d5c;    
}

#view_more div+div+div{
    background: url(_图像1_.png) no-repeat;
    background-size: 100%;
    width: 34%;
    padding: 0;
    margin: 0;
    height: 500px;
}
#view_more div+div+div div{
    background: url(图一遮罩.png) ;
    background-size: 100% 100%;
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
}

/*********************volunteers***************/

#volunteers{
    height: 660px;
    width: 100%;
    color: #a1a3a6;
    font-size: 12px;
    text-align: center;
    position: relative;
}
#volunteers div{
    overflow: hidden;
    height: 620px;
}
#volunteers div #juzhong{
    height: 250px;
    width: 33%;
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
}

#juzhong h2{
    color: black;
    font-size: 20px;    
    font-weight: normal;
    margin-bottom: 26px;
    margin-top: 83px;
}

#volunteers div div{
    width: 23%;
    padding-left: 10%;
    text-align: left;
    height: 113px;
    position: relative;
    margin-bottom: 10px;
}

#volunteers div div h3{
    font-weight: normal;
    color: #464547;
    text-align: left;
}

#volunteers div div p{
    line-height: 24px;
}

#volunteers div div a{
    float: right;
    width: 50px;
    text-align: right;
    background: url(下拉.png) no-repeat left center;
    font-size: 8px;
    text-decoration: none;
}

#volunteers div div:last-child{
    height: 60px;
    margin-bottom: 0;
}

#volunteers>div+div{
    position: absolute;
    top: 250px;
    left: 33%;
    padding-left: 70px;
    width: 52%;
}

#volunteers form{
    margin-top:14px; 
    text-align: left;
    width: 100%;
    overflow: hidden;
}

#volunteers form input{
    width: 42%;
    float: left;
    margin-bottom: 15px;
    margin-right: 4%;
    height: 35px;
    background-color:#f6f5ec;
    color: #a1a3a6;
    /*border: 1px solid #f6f5ec;
    border-radius: 1px; */
    text-indent: 15px;
    font-family: "SimHei";
    border: none;
}

#volunteers form textarea{
    height: 120px;
    width: 88%;
    margin: 0;
    text-align: left;
    background-color:#f6f5ec;
    color: #a1a3a6;
    /*border: 2px solid #f6f5ec;
    border-radius: 2px; */
    text-indent: 10px;
    margin-bottom: 15px;
    font-family: "SimHei";
    padding: 5px 0;
    border: none;

}

#volunteers form input[type="submit"]{
    width: 88%;
    height: 40px;
    color: #464547;
    /*border: 4px solid #f6f5ec;*/
    border: none;
    padding: 0;
    margin: 0;
}



/*****************footer****************/

.footer{
    height: 400px;
    text-align: center;
    background-color: #3e4145;
    color: white;
    line-height: 20px;
    position: relative;
    overflow: hidden;
}

.footer div:first-child{
    height: 210px;
    margin-top:65px; 
}
.footer h1{
    font-weight: normal;
    margin-bottom: 10px;
}

.footer form{
    position: absolute;
    height: 50px;
    width: 484px;
    left: 50%;
    margin-left: -242px;
    top:165px;
}
.footer textarea{
    position: absolute;
    margin: 0;    
    height: 35px;
    width: 400px;
    border: none;
    line-height: 35px;
    left: 0;
    font-size: 24px;
    color: #a1a3a6;
}

.footer input{
    position: absolute;
    height: 40px;
    width: 80px;
    border: none;
    margin: 0;
    left: 404px;
    background-color: #4f5555;
}

.footer img{
    margin-top: 85px;
    display: inline-block;
    padding: 15px;
}

.footer div:last-child{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: #281f1d;
    width: 100%;
}

.footer div:last-child p{
    margin-left: 80px;
    text-align: left;
    line-height: 60px;
}

.footer div:last-child a{
    position: absolute;
    right: 40px;
    bottom: 15px;
    font-size: 10px;
    color: #f6f5ec;
    text-decoration: none;
}

.footer div:last-child a:hover{
    font-weight: bold;
    color: #78cdd1;
}