html,body,div,p{
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
}
body{
    min-width: 1200px;
    width: 90%;
    margin:auto;
    background-color:white;
    font-family: "Microsoft YaHei";
}

.header{
    width:90%;
    height: 55px;
    padding-left: 5%;
    padding-right: 5%;
    position:relative;
}

.header h2{
    background: white url(书.png) center left no-repeat ;
    height:52px;
    line-height: 52px;
    padding-left:35px;
    margin: 0;
}

.header ul{
    position: absolute;
    left:45%;
    top:0;
    width:40%;
    margin:0;
    overflow: hidden;
}

.header li{
    float:left;
    margin:0;
    margin-right:10px ;
    padding: 10px;
    padding-bottom:0;
    padding-top:0;
    height:52px;
    line-height:52px;
    list-style: none;
}

.header li:first-child{
    border-bottom: #de5f5f 3px solid;
    margin-left: -10px;
    color:#de5f5f;
}

.header li a{
    text-decoration: none;
    color:gray;
}

.header p{
    color:#de5f5f ;
    background: white url(登录.png) center left no-repeat ;
    padding-left:20px;
    position:absolute;
    right: 5%;
    top:0;
    height:52px;
    line-height:52px;
    margin:0;

}

/*············································main··················································*/
/*············································experience··················································*/

.main #experience{
    background-image:url(图一.png);
    background-size: cover;
    width:76%;
    height:450px;
    padding:12%;
    margin:0;
    color:white;
}

#experience h1{
    font-size: 60px;
    padding-top: 30px;
    margin-bottom: 35px;
}

#experience p{
    font-size:20px;
    width:300px;
    margin-bottom:70px;
}

#experience a{
    display: block;
    width:300px;
    background-color:#de5f5f ;
    height:55px;
    line-height:55px;
    text-align: center;
    text-decoration:none;
    color:white;
    font-size:35px;
}

/*············································introduction··················································*/
#introduction{
    width:100%;
    height:250px;
    position:relative;
    overflow:hidden;
}

#introduction div{
    /*position:absolute;
    top:0;*/
    float:left;
    width:25%;
    margin-top:40px;
    padding-top:80px;
    height:130px;
}
#introduction div p{
    border-right: gray 1px solid;
    color:gray;
    text-align:center;
    height:60px;
    padding-left:20%;
    padding-right:20%;
}
#introduction div:first-child {
    /*left:0;*/
    background:white url(圆.png) no-repeat center top;
}

#introduction div:first-child +div{
    /*left:25%;*/
    background:white url(旗.png) no-repeat center top;
}

#introduction div:first-child +div +div{
    background:white url(花.png) no-repeat center top;
}

#introduction div:first-child +div +div+div{
    background:white url(方.png) no-repeat center top;
}

/*············································more_things··················································*/

#more_things{
    width:100%;
    height:250px;
    background-color:#c9b7b7 ;
    padding-top:100px;
}

#more_things p{
    background:#c9b7b7 url(大书.png) no-repeat center top;
    padding-top:120px;
    height:70px;
    font-size:50px;
    color:gray;
    text-align:center;
    line-height:70px;
}

#search_city{
    background-image: url(看地图.png);
    height:295px;
    width:100%;
    color:white;
    text-align:center;
    padding-top:35px;
    font-size:12px;
}

#search_city h2{
    font-weight: normal;
}

#search_city select{
    width:16%;
    padding: 5px;
    margin: 0;
    margin-right:5%;
    margin-top:35px;
    color: gray;
    border:#de5f5f 1px solid ;
}

#search_city input[type="submit"]{
    width:16%;
    padding:5px;
    background-color:#de5f5f;
    color:white;
    border:#de5f5f 1px solid ;

}

#search_city select option:hover{
    background-color:#de5f5f;
}